.menuInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease;
    margin-bottom: 3%;
}

.divMae{
    flex: 2;
    flex-direction: column;
    overflow-y: scroll;

    height: 30%;
    width: 80%;
    margin-left: 10%;

    background-color: gray;
}

.sumario, .titulo{
    font-size: var(--medium);
    text-align: center;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo{
    font-size: var(--xl-large);
    font-weight: bold;
}


.img-fluid-2 {  
    width: 20%;
    margin: 10% 10%;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s ease;
}

.resumo {
    display: relative;
    align-items: center;
    margin: 0 var(--me--margin);
    justify-content: center;
    padding-bottom: 10vh;

}

.resumin{
    align-items: center;
}


.venda{
    margin-top: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#item-venda{
    position:relative;
    right: -10%;
    object-fit: fill;
    max-height: 70vh;
    border: 1px solid black;
}

.centro{
}

.sinopse{
    align-content: center;
    margin: 0 var(--margin);
}

