.carousel-inner {
    height: 50vh;
    margin-bottom: 2%;
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 5vw;
    width: 5vw;
    background-size: 5vw 5vw;
}

.carousel-item img {
    width: auto;
    height: 80%;
    object-fit: cover; 
    object-position: center;
    background-color: black; 
}

.books-grid{
    margin: 0 var(--margin);
}

.capa-livro{
    width: 20%;
    display: none;
    flex:1;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    margin-bottom: 3%;
}