:root{
    --body-color: #ffffff;
    --nav-color: #9948db;
    --select-color: #ecb92ea7;
    --border-color: #000000;
    --texto-color: black;
    --bg-color: lightgray;
    --bg-color: #f0f0f0;
    --footer-color:black;
    --xl-large: 2.4rem;
    --large: 1.6rem;
    --medium: 1.2rem;
    --small: 1rem;
    --margin: 15vw;
    --font-weight: normal;
    letter-spacing: normal;
    --texto-leitura: 1.2em;
    
}

:root.high-contrast {
    --body-color: black;
    --nav-color: #ffffff;
    --select-color: #000000;
    --border-color: #ffffff;
    --texto-color: white;
    --header-color: black;
    --footer-color:white;
    --bg-color: black;
}

:root.espacado {
    letter-spacing: 0.3em;
}	


.texto{
    font-size: var(--medium);
    font-weight: bold;
    text-align: center;
    color: var(--texto-color);

}

.texto:hover{
    color: var(--texto-color); 
}

/* Para telas pequenas (sm) */
@media (max-width: 576px) {
    .menuInfo {
        flex-direction: column;
    }

    .logo{
        width: 100%;
        height: 100%;
        object-fit: contain; 
    }

    nav{
        height: auto;
    }
}   

/* Para telas médias (md) */
@media (max-width: 768px) {
    .menuInfo {
        flex-direction: column;
    }  
    .barra-acessibilidade{
        min-height:6vh;
        width: auto;
    }
    .barra-acessibilidade-nav, .barra-acessibilidade-nav-direita{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao-acessibilidade{
        margin-top: 1vh;
    }
    .venda{
        display:flex;
        flex-direction: column;
    }
    .venda-resumo{
        flex-direction: column !important;
    }

    .carousel-inner {
        height: 15vh;
        margin: 4% 0;
        background-color: black;
    }

}

/* Para telas grandes (lg) */
@media (max-width: 1200px) {
    .menuInfo {
        height: 30%;
        flex-direction: column;
    }
}

/* Para telas extra grandes (xl) */
@media (min-width: 1201px) {
    .menuInfo {
        padding-left: 20%;
        padding-right: 20%;
    }
    .col-xl-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.img-fluid {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.divCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-livro{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-bottom: 3%;
}

.nome-livro {
    font-size: var(--large);
    font-weight: var(--font-weight);
    text-align: center;
    color: var(--texto-color);
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh var(--margin);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh var(--margin);
}

form *{
    margin: 1vh 0;
}

nav.mudancas-texto{
    display: flex;
    width: 50%;
    padding: 0 0;
    margin: 0 0;
    background-color: var(--body-color);
    color: var(--texto-color);
    justify-content: space-between; 
    align-items: center; 
}

nav.mudancas-texto *{
    margin: 0 0;
}

#font-size-control{
    display:flex;
    background-color: var(--body-color);
    justify-content: center;
}

#font-buttons {
    display: flex;
    flex-direction: column;
}

#font-size-control *{
    border: none;
    background-color: var(--button-color);
}

#leitura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 var(--margin);
    font-size: var(--texto-leitura);
    min-height: 100vh;
    min-width: 90%;
    border: 0.1vh solid black;
    padding: 4vh;
}

.resumo{
    padding:0 var(--margin);

}

.venda-resumo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0;
}

.produto-resumo{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 5vh 0 ;
    left: 0;
}

.img-resumo{
    margin-right: 10vw;
    height:30vh;
}

.descricao-resumo{
    top:0;
}

#fechar-compra{
    width: 40vw;
    height: 7vh;
    background-color: var(--bg-color);;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}