.menuInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease;
    margin-bottom: 3%;
}

.divMae{
    flex: 2;
    flex-direction: column;
    overflow-y: scroll;

    height: 30%;
    width: 80%;
    margin-left: 10%;

    background-color: gray;
}

.sumario, .titulo{
    font-size: var(--medium);
    text-align: center;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo{
    font-size: var(--xl-large);
    font-weight: bold;
}

.compra{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    margin-top: 5%;
    background-color: gray;
}

.img-fluid-2 {  
    width: 20%;
    margin: 10% 10%;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s ease;
}

.resumo{
    display: flex;
    justify-content: center;

}