

.center{
    height: 100vw;
    background-color: tomato;

    padding-left: var(--margin);
    padding-right: var(--margin);
    
}

.barra-remake, .nav-remake{
    z-index: 0  ;
    align-content: center;
    background-color: whitesmoke;
}

.barra-remake{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    align-content: inherit;
    background-color: black;
}

