:root{
    --body-color: #ffffff;
    --nav-color: #9948db;
    --select-color: #ecb92ea7;
    --border-color: #000000;
    --texto-color: #f5f5f5;
    --bg-color: lightgray;
    --xl-large: 2.4rem;
    --large: 1.6rem;
    --medium: 1.2rem;
    --small: 1rem;
    --margin: 15vw;
}

.texto{
    font-size: var(--medium);
    font-weight: bold;
    text-align: center;
    color: var(--texto-color);

}

.texto:hover{
    color: var(--texto-color);
    
}

/* Para telas pequenas (sm) */
@media (max-width: 576px) {
    .menuInfo {
        flex-direction: column;
    }

    .logo{
        width: 100%;
        height: 100%;
        object-fit: contain; 
    }

    nav{
        height: auto;
    }
}   

/* Para telas médias (md) */
@media (max-width: 768px) {
    .menuInfo {
        flex-direction: column;
    }  

}

/* Para telas grandes (lg) */
@media (max-width: 1200px) {
    .menuInfo {
        height: 30%;
        flex-direction: column;
    }
}

/* Para telas extra grandes (xl) */
@media (min-width: 1201px) {
    .menuInfo {
        padding-left: 20%;
        padding-right: 20%;
    }
    .col-xl-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.img-fluid {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 125%; /* 3/4 * 100% */
    margin-bottom: 1%;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.divCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-livro{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-bottom: 3%;
}

.nome-livro {
    font-size: var(--large);
    font-weight: bold;
    text-align: center;
    color: black;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh var(--margin);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh var(--margin);
}

form *{
    margin: 1vh 0;
}

nav.mudancas-texto{
    background-color: var(--texto-color);

}

#font-size-control{
    background-color: var(--bg-color);
}

#font-buttons {
    display: flex;
    flex-direction: column;
}

#font-size-control *{
    border: none;
    background-color: var(--button-color;
}