/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --nav-color: #4298b0;
}

body {
    flex-direction: column;
    background-color: whitesmoke; 
    position: relative;
    z-index: 0;
}

nav{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background: var(--nav-color);
    padding: 0 5%;
    margin-bottom: 4%;
    height: 10vh;
    position: sticky;
    z-index: 100;
}

footer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background: var(--nav-color);
    padding: 0 5%;
    height: 10vh;
    position: sticky;
    z-index: 100;

}

.texto{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}


/* Para telas pequenas (sm) */
@media (max-width: 576px) {
    .menuInfo {
        flex-direction: column;
    }
    .search-box{
        display: none !important;
    }
}

/* Para telas médias (md) */
@media (max-width: 768px) {
    .menuInfo {
        flex-direction: column;

    }  
    .search-box{
        display: none !important;
    }
}

/* Para telas grandes (lg) */
@media (max-width: 1200px) {
    .menuInfo {
        height: 30%;
        flex-direction: column;
    }
}

/* Para telas extra grandes (xl) */
@media (min-width: 1201px) {
    .menuInfo {
        padding-left: 20%;
        padding-right: 20%;
    }
    .col-xl-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}




.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 100;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Faz com que o conteúdo se ajuste à altura da nav */
    z-index: 100;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.abas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.img-acessibilidade {
    height: 60%; 
    object-fit: contain; 
    cursor: pointer;
}

.img-pesquisa {
    margin-right: 5%;
    height: 90%;
    object-fit: contain; /* Mantém a proporção da imagem */
    z-index: 101;
    cursor: pointer;
}

.caixa-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5vw;
    outline: 10% black;
    margin-left: 15%;
    z-index: 100;
}

.pesquisa{
    position: relative;
    right: -5%;
    width: 90%;
    height: 95%;
    border: none;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    object-fit: contain;
    color: black;
    z-index: 100;
}

.logo{
    width: auto;
    margin-top: 10%;
    height: 120%;
    object-fit: contain; 
}

.menu-acessibilidade{
    position: absolute;
    top: 100%; /* Posiciona a caixa logo abaixo do botão de acessibilidade */
    width: 10%; /* Define a largura da caixa */
    left: 50%; /* Posiciona o menu no meio horizontalmente */
    transform: translateX(-50%); /* Ajusta o posicionamento para o centro */
    height: 20vh; /* Define a altura da caixa */
    border: 1% solid #000; /* Adiciona uma borda preta */
    border-radius: 4%;
    background-color: rgb(45, 131, 228); /* Define a cor de fundo como branca */
    padding: 20px; /* Adiciona algum espaço interno */
    box-sizing: border-box; /* Garante que o padding e a borda estão incluídos na largura e altura */
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;

}

.img-fluid {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 125%; /* 3/4 * 100% */
    margin-bottom: 1%;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.divCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-livro{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-bottom: 3%;
}

.nome-livro {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.carousel-inner {
    height: 50vh;
    margin-bottom: 2%;
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 5vw;
    width: 5vw;
    background-size: 5vw 5vw;
}

.carousel-item img {
    width: auto;
    height: 80%;
    object-fit: cover; 
    object-position: center;
    background-color: black; 
}

.menuInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease;
    margin-bottom: 3%;
}

.capa-livro{
    width: 20%;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    margin-bottom: 3%;
}

.img-fluid-2 {  
    width: 100%;
    content:cover;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s ease;
}

.divMae{
    flex: 2;
    flex-direction: column;
    overflow-y: scroll;

    height: 30%;
    width: 80%;
    margin-left: 10%;

    background-color: gray;
}

.sumario, .titulo{
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

.titulo{
    font-size: calc(2*1.2rem);
    font-weight: bold;
}

.compra{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    margin-top: 5%;
    background-color: gray;

}

.rodape {
    margin-top: 10%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}